body {
    margin: 0;
    padding: 0;
    font: 12px aria, verdana, sans-serif;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;

}

table,
tr {
    border: solid 1px grey;
    text-align: center;
    padding: 0;
    border-collapse: collapse
}

table {
    width: 95%;
    margin: 0 auto
}

td {
    border: dotted 1px #000;
    margin: 0;
    padding: 0;
    min-width: 4%
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #000;
    color: #fff;
    border: solid 2px #fff
}

.row {
    margin: 0 auto;
    width: 95%;
    overflow: auto;
    padding: 2%
}

.col1 {
    width: 20%;
    margin-left: 2%;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    min-width: 300px;
}

.col2 {
    width: 60%;
    margin: 0 auto;
    border: solid 2px gray;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    min-width: 600px;
}

input[type=number],
input[type=text] {
    width: 95%
}

input[type=submit] {
    width: 40%
}

textarea {
    width: 95%;
    resize: none
}

select {
    width: 95%
}

button {
    font: 24px sans-serif;
    width: 40px;
    height: 40px;
    padding: 0
}

ul {
    text-align: left
}

h3 {
    text-align: center
}

form ul {
    list-style: none
}