.app{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
label{
  font-family: Verdana,sans-serif;
  padding: 5px;
}
input{margin: 5px;}
button {
  font: 18px Verdana,sans-serif;
  /*width: 60px;*/
  border: solid 0px white;
  border-radius: 10px;
  background: transparent;
}

button:hover{
  font-weight: bold;
  background: #d4d4d4;
  font-weight: bold;
  cursor:pointer;
}