table tr td button{
    font-size: 2em;
}

table tr td button:hover {
    color: inherit;
    background: #f2f2f2;
    border: 0px;
    border-radius: 10px;
}

tr:nth-child(even) td button:hover{
    background: white;
}