
.close{
    position: absolute;
    top: 0px;
    right: 0px;
    border: solid 0px white;
    border-radius: 0px 10px 0px 10px;
    background: transparent;
}



.close:focus,.close:focus-within,.close::-moz-focus-inner,
.exit:focus,.exit:focus-within,.exit::-moz-focus-inner{
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border:0;
}

.close:hover,.exit:hover{
    background: #d4d4d4;
    font-weight: bold;
    cursor:pointer;
}
