table button{
    background: transparent;
    border:0px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: bold;
}

table button:hover{
    color: inherit;
    background: transparent;
    border: 0px;
}